{% extends "base.html" %}
{% block title %}Biosorb project | Успешная активация{% endblock %}

{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}

{% block content %}

    <div id="wrapper" style="width: 400px">
        <h1>Активация учетной записи успешно завершена!</h1>
        <p>Для получения доступа в игру, <a href="mailto:elringus@yandex.ru">сообщите администратору своё имя пользователя.</a></p>
    </div>

{% endblock %}