{% extends "index.html" %}
{% block title %}Palema project | О проекте{{ article.title }}{% endblock %}

{% block homeactive %}onclick="window.location = '/';"{% endblock %}
{% block aboutactive %}style="color: #efefef; cursor: default;"{% endblock %}
{% block conactactive %}onclick="window.location = '/contacts';"{% endblock %}

{% block indexcontent %}

    <div class="articleblock">
        <h1>Добро пожаловать на веб-сайт Palema project!</h1>
        <p>
            Palema project — это рабочее название игры, созданием которой мы занимаемся.
            Благодаря новой технологии <a href="http://www.adobe.com/devnet/flashplayer/stage3d.html" target="_blank">Stage3d</a>,
            недавно разработанной компанией Adobe, появилась возможность интегрировать высококачественный игровой контент прямо в веб-браузер.
            В свою очередь, российская компания <a href="http://alternativaplatform.com" target="_blank">Альтернатива</a>,
            много лет занимавшаяся разработкой игрового движка для Flash-платформы,
            адаптировала свою технологию для поддержки stage3d и открыла исходные коды новой библиотеки под лицензией MPL.
            Вдохновившись открывшимися перспективами, мы собрали команду энтузиастов-единомышленников
            с целью разработать онлайновую ролевую игру, которая бы раскрыла весь потенциал перспективной технологии.<br><br>

            Определяющим жанром проекта является RPG в стиле science-fantasy и стимпанковском сеттинге. По ходу игры геймеру будет предложено создать своего аватара
            и принять участие в прохождении разнообразных квестов, мини-игр, тактических сражений в реальном времени, онлайновых PvE и PvP эвентов,
            а также полноценные системы крафта, добычи ресурсов и развития персонажа.<br><br>

            Действие игры разворачивается в индустриальной стране XIX века, находящейся на рубеже новых технологий и уникальных разработок.
            Последнее открытие, совершенное учеными, оказало сильнейший эффект на общество: кристалл палемионтерия, которым человек может управлять телепатически.
            Но, несмотря на практическую значимость открытия, есть и те, кто считает кристалл предзнаменованием Конца Света.
            На фоне этих событий главный герой решительно покидает родные края, чтобы переехать в шумную, мрачную столицу.
            В результате авиакатастрофы он попадает в самый эпицентр разворачивающегося противостояния и вынужден пройти сложный путь, чтобы распутать клубок интриг и узнать правду.<br><br>

            Проект имеет следующие уникальные особенности:</p>
            <ul>
                <li>Оригинальный сюжет в стимпанковском сеттинге</li>
                <li>Уникальная система боя, сочетающая тактические элементы и динамичный экшн в реальном времени</li>
                <li>Гибкая система развития персонажа, позволяющая создавать разнообразные игровые классы</li>
                <li>Высококачественная и полностью трёхмерная графика прямо из браузера без необходимости устанавливать клиент игры</li>
            </ul>

        <p>
            На данный момент работа в самом разгаре и накопилось уже достаточно материала, которым, как нам кажется, было бы интересно поделиться с общественностью.
            Для данной цели, а также для поиска единомышленников был открыт этот веб-сайт. Если вас заинтересовал наш проект,
            мы будем рады ответить на любые вопросы <a href="/forum/">через форум</a> или <a href="/contacts">форму обратной связи</a>.
            Также вы можете следить за обновлениями с помощью <a href="http://palema.ru/feed" target="_blank">RSS-фида</a> или
            <a href="https://twitter.com/Palema_project" target="_blank">чтения наших новостей в Twitter</a>.
        </p>
    </div>

{% endblock %}