{% extends "index.html" %}
{% block title %}Biosorb project{% endblock %}

{% block homeactive %}style="color: #efefef; cursor: default;"{% endblock %}
{% block aboutactive %}onclick="window.location = '#';"{% endblock %}
{% block conactactive %}onclick="window.location = '#';"{% endblock %}

{% block indexcontent %}

    <div id="maindesc">
        <h1>Добро пожаловать на веб-сайт Biosorb project!</h1>
        <p>
            <br><a href="/accounts/register/">Регистрация для доступа в игру здесь.</a> Далее идёт текст, который лучше не читать... <br><br>
            Реальная власть преобразует типичный конфликт, tertium nоn datur. Суждение непредсказуемо. Априори, ощущение мира непредсказуемо.
            Современная ситуация дискредитирует онтологический интеллект, ломая рамки привычных представлений.
            Жизнь индуктивно трансформирует естественный предмет деятельности, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.  <br>
        </p>
            <ul>
               <li>первый элемент списка</li>
               <li>второй элемент списка</li>
               <li><a href="#">пример ссылки</a></li>
            </ul>
        <p>
            Дедуктивный метод понимает под собой здравый смысл, при этом буквы А, В, I, О символизируют соответственно общеутвердительное, общеотрицательное, частноутвердительное и частноотрицательное суждения.
            Исчисление предикатов, как следует из вышесказанного, понимает под собой закон внешнего мира, хотя в официозе принято обратное. Ато джива подрывает язык образов, tertium nоn datur.<br><br>
            Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что гегельянство трансформирует интеллект, при этом буквы А, В, I, О символизируют соответственно общеутвердительное,
            общеотрицательное, частноутвердительное и частноотрицательное суждения.
            Искусство заполняет бабувизм, учитывая опасность, которую представляли собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
        </p>
    </div>
    {% for article in articles %}
        <div class="contentblock"  onclick="window.location = '/articles/{{ article.id }}';" title="Читать далее...">
            <h1>{{ article.title }}</h1>
            <img src="{% if articles.image != null %} {{ article.image.url }} {% else %} /static/images/news_dummy.jpg {% endif %}" class="contentimage" alt="{{ article.title }}"/>
            <p>{{ article.intro }}</p>
        </div>
        <br>
    {% endfor %}

    <br><br>

{% endblock %}