{% extends "index.html" %}
{% block title %}Palema project | контакты{% endblock %}

{% block homeactive %}onclick="window.location = '/';"{% endblock %}
{% block aboutactive %}onclick="window.location = '/about';"{% endblock %}
{% block conactactive %}onclick="window.location = '/contacts';"{% endblock %}

{% block indexcontent %}

    <div class="articleblock">
        <h1>Сообщение успешно отправлено!</h1>
        <p>Благодарим за проявленный интерес к нашему проекту. Мы постараемся ответить Вам как можно скорее.</p><br>
    </div>

{% endblock %}