{% extends "base.html" %}

{% block title %}Biosorb project | страница не найдена{% endblock %}

{% block content %}
    <div id="wrapper"><div class="info">
        <h1>Ошибка 404: страница не найдена!</h1>
        <p>Вы не можете посетить текущую страницу по причине:</p>
        <ul>
            <li>просроченная закладка/избранное</li>
            <li>поисковый механизм, у которого просрочен список для этого сайта</li>
            <li>пропущен адрес</li>
            <li>у вас нет права доступа на эту страницу</li>
            <li>запрашиваемый ресурс не найден</li>
            <li>в процессе обработки вашего запроса произошла ошибка</li>
        </ul>
        <p>Если проблемы продолжатся, пожалуйста, <a href="mailto:elringus@yandex.ru">обратитесь к системному администратору</a> и сообщите об ошибке.</p>
    </div></div>
{% endblock %}