{% extends "base.html" %}

{% block title %}Biosorb project | ошибка сервера{% endblock %}

{% block content %}
    <div id="wrapper"><div class="info">
        <h1>Ошибка 500: внутренняя ошибка сервера!</h1>
        <p>Произошёл сбой в работе сервера. Попробуйте обновить страницу или <a href="/">вернуться на главную страницу ресурса</a>.
           Если проблемы продолжатся, пожалуйста, <a href="mailto:elringus@yandex.ru">обратитесь к системному администратору</a> и сообщите об ошибке.
           Приносим извинения за доставленные неудобства.</p>
    </div></div>
{% endblock %}